<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          id="username"
          name="username"
          [(ngModel)]="username"
          required
        />
        <mat-error *ngIf="loginForm.submitted && !username">
          Username is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
        />
        <mat-error *ngIf="loginForm.submitted && !password">
          Password is required.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </mat-card-content>
</mat-card>
